/* Base */
/* ----------------------------------------------------------*/

@import "reset";

@import "fa/font-awesome";

@import "colors";
@import "fonts";

* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  font-family: Open Sans, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  background-color: #f2f2f2;
  color: $GREY;
}

h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: 400; }

a {
  color: $DARK_ORANGE;
  text-decoration: none;
}
a:hover {
  color: $DARK_GREY;
  text-decoration: none;
}

/* Utility */

.wrap:before,
.wrap:after { content:""; display:table; }
.wrap:after { clear: both; }
.wrap {
  max-width: 800px;
  padding: 0 30px;
  margin: 0 auto;
  zoom: 1;
}

@import "layout";
@import "content";
@import "media_queries";

@import "posts";